@model spaV1.Models.User

@{
    ViewData["Title"] = "Détails Utilisateur";
}

<h1>Détails Utilisateur</h1>

<div>
    <h4>Utilisateur</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.Nom)</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.Nom)</dd>

        <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.Prenom)</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.Prenom)</dd>

        <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.Email)</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.Email)</dd>

        <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.Telephone)</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.Telephone)</dd>

        <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.Role)</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.Role)</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Modifier</a>
    <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
</div>