@model IEnumerable<spaV1.Models.User>

@{
    ViewData["Title"] = "Liste des Utilisateurs";
}

<h1>Liste des Utilisateurs</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Créer un Nouvel Utilisateur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nom)</th>
            <th>@Html.DisplayNameFor(model => model.Prenom)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Telephone)</th>
            <th>@Html.DisplayNameFor(model => model.Role)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nom)</td>
                <td>@Html.DisplayFor(modelItem => item.Prenom)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Telephone)</td>
                <td>@Html.DisplayFor(modelItem => item.Role)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Modifier</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Détails</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>